In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv('bollywood-1.csv', index_col=False)

In [9]:
df.shape

(149, 10)

149 records

In [67]:
df.groupby("ReleaseTime").size().sort_values().reset_index(name='Movies Count')

  ReleaseTime  Movies Count
0          LW            15
1          FS            17
2          HS            18
3           N            99

In [113]:
c1= df.loc[(df['ReleaseTime']=="FS")].groupby("Genre").size().reset_index(name='Count')#.sort_values(ascending=False)
#c1.loc[0]
c1.max()

Genre    Thriller
Count           4
dtype: object

In [73]:
c1=df.groupby(["Genre", "ReleaseTime"]).size().reset_index(name='Movies Count')
c1.loc[1:]

        Genre ReleaseTime  Movies Count
1      Drama           HS             6
2      Drama           LW             1
3      Drama            N            24
4      Action          FS             3
5      Action          HS             3
6      Action          LW             3
7      Action           N            12
8     Action            N             3
9      Comedy          FS             3
10     Comedy          HS             5
11     Comedy          LW             5
12     Comedy           N            23
13    Romance          FS             3
14    Romance          HS             3
15    Romance          LW             4
16    Romance           N            15
17   Thriller          FS             4
18   Thriller          HS             1
19   Thriller          LW             1
20   Thriller           N            20
21  Thriller           LW             1
22  Thriller            N             2

In [107]:
df['year'] = pd.DatetimeIndex(df['Release Date']).year 
c= df.groupby("year").size().sort_values().reset_index(name='Movies Count')
c.max()

year            2015
Movies Count      70
dtype: int64

In [139]:
import calendar
df['month'] = pd.DatetimeIndex(df['Release Date']).month 
c= df.loc[(df['Budget']>=30)].groupby("month").size().sort_values(ascending=False).reset_index(name='Count')
c['month'] = c['month'].apply(lambda x: calendar.month_abbr[x])
c.loc[0]

month    Feb
Count      8
Name: 0, dtype: object

In [149]:
df['ROI'] = (df['BoxOfficeCollection'] - df['Budget']) /  df['Budget']
c= df[['MovieName','ROI']].sort_values(by=['ROI'])
c['MovieName','ROI'].iloc[0:10]

KeyError: ('MovieName', 'ROI')